.pl-10 {
  padding: 10px;
}

.card {
  max-width: 400px;
  min-height: 200px;
  background-color: #FFFFFF;
  padding: 0;
  margin-bottom: 10px;
}

.title {
  font-size: 18px;
  padding: 10px;
}

.content {
  padding: 10px;
}

.colorGreen{
  display: grid;
  width: 100%;
  height: 100px;
  background-color: #659B07;
  background-image: linear-gradient(to bottom right, #659B07, #F5F5F2);
  margin-bottom: 10px;
}