<app-toolbar (sideNav)="Toggle()"></app-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav fxLayout="column" [(mode)]="mode" [(opened)]="opened" class="sidebar">
    <button mat-icon-button (click)="Pined()" class="right"
    matTooltip="Pined/Unpined sidebar"><mat-icon>{{ pintext }}</mat-icon></button>
    <div class="side_header">
    <mat-nav-list>
          <a mat-list-item routerLink='/start'>Dashboard</a>
          <a mat-list-item routerLink='/doc'>Documentatie</a>
          <a mat-list-item routerLink='/table'>Table</a>
          <a mat-list-item routerLink='/filter'>Filterbar</a>
        </mat-nav-list>
      </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
       <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>